
body {
    margin: auto;
    text-align: center;
    width: 50%;
    border: 3px solid #42e5f4);
    background-color: #a041f4;
}

.center (
    margin-left: auto;
    margin-right: auto;
)